@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: beige;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Alpes.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15%;
    position: absolute;
    top: 0;
    padding: 1% 0 1% 0;
    border-bottom: 2px solid rgba(255, 252, 252, 0.295);
}

.logo{
    font-size: 250%; 
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    font-size: 20px;
}

.menu_item{
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.541) ;
}

.menu_item:hover{
    cursor: pointer;
    color: rgb(250, 210, 160);
}

.menu_register{
    font-size: 18px;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    background: none;
    border: 1px solid rgb(238, 139, 47);
    color: rgb(238, 139, 47);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25) ;
}

.menu_register:hover{
    background-color: rgba(240, 248, 255, 0.103);
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title{
    font-size: 80px;
}

.description{
    font-size: 32px;
    width: 50%;
    text-align: center;
}

.learn-more{
    border: none;
    font-size: 21px;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25) ;
    background-color: rgb(214, 117, 26);
}

.learn-more:hover{
    background-color: rgb(230, 150, 75);
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    height: 4%;
    bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
}

@media (max-width: 830px){
    header{
        justify-content: space-around;
        position: absolute;
        gap: 5%;
    }

    .logo{
        font-size: 200%; 
    }

    .menu{
        gap: 5%;
        font-size: 15px;
    }

    .menu_register{
        font-size: 15px;
        height: 35px;
        width: 160px;
    }

    .title{
        font-size: 50px;
    }
    
    .description{
        font-size: 205x;
        width: 100%;;
    }

    .learn-more{
        font-size: 19;
        width: 150px;
        height: 50px;
    } 

    footer{
        font-size: 13px;
    }
    
}


@media (max-width: 480px){
    .logo{
        font-size: 200%; 
    }

    .menu{
        font-size: 12px;
        gap: 3%;
    }

    .menu_register{
        font-size: 13px;
        height: 30px;
        width: 110px;
    }

    .title{
        font-size: 30px;
    }
    
    .description{
        font-size: 20px;
        width: 80%;
        text-align: center;
    }
    
    .learn-more{
        font-size: 15;
        width: 140px;
        height: 40px;
    }

    footer{
        font-size: 10px;
    }
}

